<div class="page-body">
  <app-top-nav theme="product" [bannerInfo]="bannerInfo"></app-top-nav>
  <div class="product-section">
    <app-section theme="h1" title="平台概况" order-number="01">
      <app-account-if-add [data]="accountIfAdd" [showNum]="true"></app-account-if-add>
      <div class="detail">
        本周产品总数为<span>{{accountIfAdd[0].number[0]}}个</span>，与上周<span>{{detail.text}}</span>，企业总数为<span>{{accountIfAdd[1].number[0]}}个</span>，比上周{{detailCom.text}}<span>{{detailCom.result}}个</span>
      </div>
    </app-section>
    <app-section theme="h2" title="开通企业最多的产品排行TOP5">
      <app-progress [sortLayout]="true" [sort]="true" [layout]="true" [data]="sortList" unit="n" [special]="true"></app-progress>
    </app-section>
    <app-section theme="h1" title="访问统计" order-number="02">
      <div class="chart-wrapper">
        <app-echart-base [option]="visitOption"></app-echart-base>
      </div>
      <div class="detail">
        本周访问量总计<span>{{chartSum.sum}}k</span>，环比增长<span>{{chartSum.per | number: '1.0-1'}}%</span>，本周峰值出现在{{chartSum.week}}{{chartSum.date}}，单日访问量达到<span>{{chartSum.maxNum}}k</span>
      </div>
    </app-section>
    <app-section theme="h2" title="开通企业最多的产品排行TOP5">
      <app-progress [sort]="true" [layout]="true" [bgColor]="'yellow'" [data]="visitList" unit="k" [special]="true"></app-progress>
    </app-section>
    <app-section theme="h2" title="车联网产品各企业使用情况">
      <div class="flex com-use">
        <div class="com-chart">
          <app-pie id="comPie" [chart-title]="comPieData[0].value + '%'" [pieData]="comPieData" [chartColor]="comPieColor" height="1.2rem" titleColor="#4475FD"></app-pie>
        </div>
        <div class="com-use-title">
          <p class="com-use-title-t">{{comPieData[0].title}}</p>
          <p class="font12 com-use-title-n">{{comPieData[0].name}}：{{comPieData[0].num}}</p>
        </div>
      </div>
      <app-level2-title name="车厂端产品使用排行"></app-level2-title>
      <app-sort [data]="sortTopList"></app-sort>
      <div class="flex com-use com-use-yellow">
        <div class="com-chart">
          <app-pie id="dealerPie" [chart-title]="dealerPieData[0].value + '%'" [pieData]="dealerPieData" [chartColor]="dealerPieColor" height="1.2rem" titleColor="#FFBC53"></app-pie>
        </div>
        <div class="com-use-title">
          <p class="com-use-title-t">{{dealerPieData[0].title}}</p>
          <p class="font12 com-use-title-n yellow">{{dealerPieData[0].name}}：{{dealerPieData[0].num}}</p>
        </div>
      </div>
      <app-level2-title name="经销商使用排名TOP5"></app-level2-title>
      <app-sort-list [data]="listSort" [sort]="true" unit="n"></app-sort-list>
    </app-section>
    <app-section theme="h1" title="车联网功能使用统计" order-number="03">
      <app-level2-title name="车厂端常用功能"></app-level2-title>
      <app-pie id="park" chart-title="车厂端" [pieData]="parkScale" [chartColor]="dealerColor" [label]="true" [richData]="true"></app-pie>
      <app-level2-title name="车厂端常用功能TOP5"></app-level2-title>
      <app-sort-list [data]="parkList" [sort]="true" unit="c"></app-sort-list>
    </app-section>
    <app-section>
      <app-level2-title name="经销商端常用功能"></app-level2-title>
      <app-pie id="dealer" chart-title="经销商端" [pieData]="dealerScale" [chartColor]="dealerColor" [label]="true" [richData]="true"></app-pie>
      <app-level2-title name="经销商端常用功能TOP5"></app-level2-title>
      <app-sort-list [data]="dealerList" [sort]="true" unit="c"></app-sort-list>
    </app-section>
    <app-logo-bottom></app-logo-bottom>
  </div>
</div>
