<div class="data-body">
  <div id="main" style="width: 100%; height: 300px"></div>
  <nav class="navs">
    <a href="sell.html?data=assets/json/data.json" target="_blank">销售周报</a>
    <a href="serve.html?data=assets/json/serveData.json" target="_blank">服务周报</a>
    <a href="product.html?data=assets/json/product.json" target="_blank">使用报告</a>
    <a href="qe.html?data=assets/json/qe.json" target="_blank">质量周报</a>
    <a href="logistic.html?data=assets/json/logisticData.json" target="_blank">物流周报</a>
  </nav>
</div>
